body {
    font-family: 'Poppins', sans-serif;
}

.header-section {
    background-image: url('/images/banner/banner3.png');
    background-repeat: no-repeat;
    height: 100%;

}

.header-section h1 {
    font-size: 70px;
}

.header-section p {
    font-size: 25px;
}